<!DOCTYPE html>
<html>
<head>
    <title>Sign Up</title>
</head>
<body>
    <h2>Create an Account</h2>
    {{if .Error}}
    <p style="color: red;">{{.Error}}</p>
    {{end}}
    <form action="/signup" method="post">
        <label>Username:</label><br />
        <input type="text" name="username" required /><br />
        <label>Password:</label><br />
        <input type="password" name="password" required /><br /><br />
        <button type="submit">Sign Up</button>
    </form>
    <p>Already have an account? <a href="/login">Login here</a></p>
</body>
</html>
